@font-face {
  font-family: 'icons';
  src: url('data:font/woff;base64,d09GRgABAAAAABQUAAsAAAAAGfAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAQwAAAFZAeUhsY21hcAAAAYgAAABQAAAAXghmA') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-camera:before { content: "\e900"; }
.icon-monitor:before { content: "\e901"; }
.icon-tv:before { content: "\e902"; }
.icon-mix:before { content: "\e903"; }
.icon-home:before { content: "\e904"; }
.icon-facebook:before { content: "\e905"; }
.icon-youtube:before { content: "\e906"; }
.icon-email:before { content: "\e907"; }
.icon-user:before { content: "\e908"; }
.icon-search:before { content: "\e909"; }
.icon-plus2:before { content: "\e90a"; }
.icon-arrow-back:before { content: "\e90b"; }